* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.jumbotron {
    background-color: rgb(109, 37, 37);
    color : white;
}

.jumbotron img {
    border-radius: 2%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
